.form {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
 width: auto;
} 

.weekday{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.gender{
  margin-top: 1rem;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  gap: 0.5rem;
}

.date{
  margin-top: 1rem;
}
.dob_date{
  margin-left: 5px;
  border: none;
  border-radius: 5px;
  background-color:rgb(214, 229, 243);
  padding: 4px;
}

/* .inputsize{
  width: 30rem;
} */